  <div class="row">
    <aside class="col-md-4">
      <section class="post_form">
        <%= render 'shared/post_form' %>
      </section>
    </aside>
  </div>
<ul class="posts">
  <% @posts.each do |post| %>
    <li>
      <%= post.content %> by <%= post.user.email %>
    </li>
  <% end %>
</ul>