<h1>Sign-in</h1>

<%= form_tag('/signin') do %>
  <p>
    <h3>Account</h3>
    <%= text_field_tag :name, '', placeholder: 'Name', required: true %>

    <h3>Password</h3>
    <%= password_field_tag :password, '', placeholder: 'Password', required: true %>
  </p>
  <%= submit_tag('Sign in (Dummy)') %>
<% end %>
