<% provide(:title, 'All posts') %>
<h1>All books by <%= @user.email%></h1>

<% if @user.posts.any? %>
    <h3>Post (<%= @user.posts.count %>)</h3>
    <div class="row">
        <%= render @posts %>
    </div>
    <%= will_paginate @posts %>
<% end %>


