<%= form_for @post, url: posts_path, html: { multipart: true } do |f| %>
<%= render 'shared/error_messages', object: f.object %>
<div class="row">
    <div class="col-md-7">
        <div class="panel panel-default">
            <div class="panel-heading"><strong>Share epub book</strong> <small> </small></div>
            <div class="panel-body">
              <div class="input-group image-preview">
                    <input placeholder="" type="text" class="form-control image-preview-filename" disabled="disabled">
                    <!-- don't give a name === doesn't send on POST/GET --> 
                    <span class="input-group-btn"> 
                    <!-- image-preview-clear button -->
                    <button type="button" class="btn btn-default image-preview-clear" style="display:none;"> <span class="glyphicon glyphicon-remove"></span> Clear </button>
                    <!-- image-preview-input -->
                    <div class="btn btn-default image-preview-input"> <span class="glyphicon glyphicon-folder-open"></span> <span class="image-preview-input-title">Browse</span>
                        <%= f.file_field :book %>
                        <!-- rename it --> 
                    </div>

                    <%= button_tag type: 'submit', class: "btn btn-labeled btn-default"  do %>
                    <span class="btn-label"><i class="glyphicon glyphicon-upload"></i> </span>Upload
                    <% end %>
               </div>
            </div>
        </div>
    </div>
 </div>
<% end %>